/* Enter your custom styles here */


/* Enter your custom styles here */

@import url('https://fonts.googleapis.com/css?family=Raleway');
.clCustomFont {
    font-family: 'Raleway', sans-serif;
}

.sapContrastPlus.clCustomHeaderBg,
.clCustomHeaderBg.sapMIBar {
    background-color: #fff!important;
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMBtnInner {
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMText {
    color: #2f3c48;
}

.sapContrastPlus.sapMIBar-CTX.clCustomHeaderBg .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
    background-color: transparent;
    color: #346187;
}


/*custom color on header*/

.justifyCenter {
    justify-content: center;
}

.marginCss {
    margin-top: auto;
}

.scroll_tcm_tableTruck_CSS {
    -moz-box-shadow: 0px 3px 8px rgb(100, 100, 100);
    -webkit-box-shadow: 0px 3px 8px rgb(100, 100, 100);
    box-shadow: 0px 3px 8px rgb(100, 100, 100);
    background-color: white;
    height: 20.8rem !important;
}

.wrapwidth {
    flex-wrap: wrap;
    width: 78%;
}

.heightcss {
    height: 415px;
}

.formhieghtcss {
    height: 903px;
}

.formhieghtcss_cso {
    height: 26rem;
}

.cssShift {
    float: right;
}

.justifyContentCenter {
    justify-content: center;
}

.justifyContentSpaceBetween {
    justify-content: space-between;
}

.justifyContentEnd {
    justify-content: flex-end;
}

.titleFontSize {
    font-size: larger;
}

.fontsize {
    font-size: large;
    font-weight: bold;
}

.fontsizeIn {
    font-size: initial;
}

.marginCenter {
    padding-inline-start: 42%;
}

.marginCorners {
    margin: 16px;
}

.marginCornersRight {
    margin-right: 16px;
}

.marginCornersLeft {
    margin-left: 16px;
}

.smallMarginBottom {
    margin-bottom: 32px;
}

.marginCornersBottom {
    margin-bottom: 102px;
}

.TableLabel {
    font-weight: bold;
}

.msgStripCss {
    text-align: center!important;
    font-weight: bold;
}

.msgStripCss2 {
    text-align: left;
    font-weight: bold;
    font-size: x-large;
    height: 4rem;
}

.VBox_color {
    background-color: #ECEBEC;
}

.VBox_SOChange {
    background-color: #ECEBEC;
    width: 69%;
}

.msgStripFormat .sapUiFormEdit .sapMText {
    display: block;
    min-height: 3rem;
    line-height: 1.375rem;
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
    text-align: center !important;
}

.sapMBtnPaddingRight {
    padding-right: 0rem;
}

.sapMBtnPaddingLeft {
    padding-left: 0rem;
}

.FormTitle .sapUiFormM .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 0.5rem;
    line-height: 1rem;
}
.vbox_textAlign{
	text-align:left !important;
	font-size:medium !important;
}
.vbox_textAlign1{
	text-align:left !important;
}
.vbox_textAlign2{
	text-align:left !important;
	font-size:medium !important;
}
.tableCol1 .sapUiSizeCompact .sapMListTblHighlightCol + .sapMListTblCell.sapMListTblHeaderCell {
    padding-left: .1rem;
    width: 10rem !important;
}
.padding{
	padding-left:2rem;
}
.heightBar{
	height:87px !important;
}
/*.paddingleft1{
	padding-left:32rem;
}
.paddingleft2{
	padding-left:22rem;
}
.paddingleft3{
	padding-left:16rem;
}
.paddingleft4{
	padding-left:12rem;
}*/
/*.centerAlignTable {
    text-align: center !important;
}

.sapMColumnHeader {
    display: -webkit-inline-box;
    flex: 1 1 auto;
    padding: .875rem .5rem 1rem;
}
sapUiSizeCompact .sapMListTblCell {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    vertical-align: middle;
    text-align: center;
}
.sapMListTblCell {
    padding: .875rem .5rem;
    vertical-align: top;
    font-size: 0.875rem;
     text-align: center; 
}
.sapMListTbl {
    font-size: 0.875rem;
    text-align: center;
}*/